{% extends 'emp-header.html' %}
{% load static %}

{% block content %}


{% for test in tests %}

<div class="card-body" >
    <div class="card card-profile" style="background-color:powderblue;">
      <div class="card-avatar">
        <a href="javascript:;">
          <img class="img-circle" src="{% static 'add-test2/images/blood_test.jfif' %}" alt = 'image' />
        </a>
      </div>
      <div class="card-body">
      <div class="card card-profile">
        <h6 class="card-category text-gray">Test Name : {{test.test_name}} </h6>
        <p class="card-description">
          Test Description : {{test.test_desc}}
        </p>
        <p>Test Added By : {{test.employee.fname}} {{test.employee.lname}}</p>
		<p>Test Rate : {{test.test_rate}}</p>
      </div>
    </div>
    <a href="{% url 'emp-edit-test' test.id %}"><button class="btn btn-primary">Edit</button></a>
    <br>
    <a href="{% url 'emp-delete-test' test.id %}"><button class="btn btn-primary">Delete</button></a>
  </div>
  <br><br><br><br>
  {% endfor %}


{% endblock %}